<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Audio player</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <script type="text/javascript" src="assets/js/main.js"></script>
    </head>
    <body onload="loadElements()">
        <header th:replace="~{layout/template :: header}"/>
        <aside th:replace="~{layout/template :: aside}"/>

        <section>
            <div class="header">
                <img src="assets/media/albums/example-album/be1496e46e6c017d6d6541c7664ec325.jpg" class="artwork">
                <h1>25 Concierto Conmemorativo (2011)</h1>
            </div>
            <div class="content">
                <section th:replace="~{/song :: songs}" />
            </div>
        </section>
    </body>
</html>