<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audio player</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/main.js"></script>
</head>

<body onload="loadElements()">
    <header th:replace="~{layout/template :: header}" />
    <aside th:replace="~{layout/template :: aside}" />

    <section th:fragment="songs">
        <div class="content">
            <table>
                <tr th:each="song, songIndex : ${songs}">
                    <td th:onclick="'play(' + ${songIndex.index} + ')'">
                        <span th:text="${song.Nombre}"></span>
                        <audio th:id="'audio_' + ${songIndex.index}">
                            <source th:src="'assets/media/albums/example-album/' + ${song.Dir}" type="audio/wav">
                        </audio>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>
